{% extends "layout.html" %}

{% block title %}

    change password

{% endblock %}

{% block main %}

    <div class="container p-5">
        <form action="/change_password" method="post">
            <div class="form-group">
                <input name="username" type="text" autocomplete="off" autofocus placeholder="Username">
            </div>
            <div class="form-group">
                <input name="old_password" type="password" autocomplete="off" placeholder="Your current password">
            </div>
            <div class="form-group">
                <input name="new_password" type="password" autocomplete="off" placeholder="Your new password">
            </div>
            <div class="form-group">
                <input name="new_password2" type="password" autocomplete="off" placeholder="Confirm new password">
            </div>
            <button class="btn btn-primary" type="submit">Change password</button>
        </form>
    </div>

{% endblock %}